.container {
  margin-bottom: 24px;
  display: flex;
  flex-grow: 1;
}

.container > .block > span {
  display: block;
}

.container > .block {
  margin-right: 24px;
}

.container > .block > span > span {
  vertical-align: middle;
  font-weight: 600;
}

.container svg {
  vertical-align: middle;
  height: 17px;
}

.container .marginTop {
  margin-top: 50px;
}

.buttons > button {
  margin-right: 8px;
}

.block:last-child > span {
  margin-top: 20px;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
}

.send {
  margin-top: 8px;
}

.companyAvatar {
  width: 70px;
  margin-bottom: 8px;
}
