.backdrop {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(16px);
}

.modal {
  background-color: white;
  position: relative;
  max-width: 640px;
  height: 70%;
  margin: auto;
  border-radius: 24px;
}

.content {
  padding: 40px;
}

.header {
  background: var(--theme-color-one);
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px 20px 0 0;
}

.header > h2,
.header > svg {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: var(--theme-color-two);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.header > svg {
  width: 25px;
  height: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 24px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.footer > div > button {
  margin-right: 8px;
}

.footer > div > button:last-child {
  margin-right: 0;
}
