.container > span {
  display: block;
}

.container > span > span {
  font-weight: 600;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.alignCenter svg {
  margin-left: 4px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.avatar > h2 {
  margin-left: 10px;
}

.container button {
  margin-top: 50px;
}

.buttons > button {
  margin-right: 8px;
}
