.container {
  margin-bottom: 24px;
  display: flex;
}

.container > .block {
  margin-right: 48px;
}

.block > span {
  display: block;
}

.block > span > span {
  font-weight: 600;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.alignCenter svg {
  margin-left: 4px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.avatar > h2 {
  margin-left: 10px;
}

/* .container button {
  margin-top: 50px;
} */

.buttons {
  margin-top: 24px;
}

.buttons > button {
  margin-right: 8px;
}

.buttons > a {
  margin-right: 8px;
}
