.container {
  margin-bottom: 24px;
  display: flex;
  flex-grow: 1;
}
.container span > svg {
  padding-top: 4px;
}

.container > .block {
  margin-right: 24px;
  flex-basis: 33%;
}

.container > .block:first-child {
  flex-basis: 35%;
}

.container > .block:nth-child(2) {
  flex-basis: 25%;
}

.block > span {
  display: block;
}

.block > span > span {
  font-weight: 600;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.alignCenter svg {
  margin-left: 4px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.avatar > h2 {
  margin-left: 10px;
}

/* .container button {
  margin-top: 50px;
} */

.buttons {
  margin-top: 24px;
}

.buttons > button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.buttons > a {
  margin-right: 8px;
}

.agreements {
  display: flex;
  flex-direction: column;
}

.agreements > button {
  margin-bottom: 8px;
}
