.companyAvatar {
  border-radius: 14px;
  padding: 0 10px;
  min-width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  justify-content: center;
  color: #fafafa;
}
