Dokumentacja/Projekt bazy.mwb.bak
System/backend/node_modules
System/backend/package-lock.json
System/backend/database.sqlite
System/frontend/yarn.lock
System/frontend/node_modules
Dokumentacja/~$aca_Inżynierska-Tomasz_Jabłoński.docx
System/frontend/package-lock.json
System/backend/build
System/backend/.env
