.container {
  display: grid;
  grid-template-columns: 150px 240px;
  align-items: center;
}

.labelOnTop label {
  display: block;
  margin-bottom: 8px;
}

.labelOnTop {
  display: block;
}

.container label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--theme-color-three);
}

.container .bright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--theme-color-two);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.container textarea {
  resize: none;
  min-width: 300px;
  height: 100px;
}
