.container {
  background: var(--theme-color-one);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px #13293d;
  height: 70px;
  width: auto;
  position: sticky;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.container > div:first-child {
  display: flex;
  align-items: center;
}

.container a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: var(--theme-color-two);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 20px;
}

.container a:hover {
  text-shadow: 4px 4px 4px var(--theme-color-one);
}

.container a:active {
  text-shadow: 4px 4px 4px var(--theme-color-one);
  color: var(--theme-color-four);
}
