.container {
  margin-bottom: 24px;
}

.container > span {
  display: block;
}

.container > span > span {
  font-weight: 600;
}

.container button {
  margin-top: 50px;
}

.buttons > button {
  margin-right: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyAvatar {
  width: 70px;
  margin-bottom: 8px;
}
